    <!-- main starts -->
<main>
    <!-- main-frame section starts -->
    <section class="main-frame no-select" style="background-image: url(assets/images/main-frame-photo.jpg);">
        <div class="main-frame-title">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="main-frame-title-text">
                            Frequent Asked Questions
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="main-frame-breadcrumb">
                            Home / FAQ
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- main-frame section ends -->
    <!-- questions section starts -->
    <section class="questions no-select">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <div class="questions-tabs" data-aos="fade-up" data-aos-duration="2000">
                        <div class="tab active-tab">
                            <h5 class="tab-title">About Syring Medical</h5>
                            <p class="tab-text">
                                Syring Medical was founded on a better model of care
                            </p>
                        </div>
                        <div class="tab">
                            <h5 class="tab-title">Primary Care</h5>
                            <p class="tab-text">
                                The term primary care refers to the kind of medical care you need first
                            </p>
                        </div>
                        <div class="tab">
                            <h5 class="tab-title">Clinical Services</h5>
                            <p class="tab-text">
                                As part of our mission to provide health care designed around you
                            </p>
                        </div>
                        <div class="tab">
                            <h5 class="tab-title">Membership & Insurance</h5>
                            <p class="tab-text">
                                Syring Medical accepts health plans from most insurance carriers
                            </p>
                        </div>
                        <div class="tab">
                            <h5 class="tab-title">Privacy & Security</h5>
                            <p class="tab-text">
                                We take the security and confidentiality of your personal information seriously
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-8">
                    <div class="questions-content" data-aos="fade-up" data-aos-duration="2000">
                        <h5 class="content-title">About Syring Medical</h5>
                        <p class="help-center">
                            Can’t find it here? Check out our<a href="" class="help-link">
                                Help
                                Center
                            </a>
                        </p>
                        <div class="question">
                            <ul id="accordion">
                                <li data-aos="fade-up" data-aos-duration="2000">
                                    <span>
                                        What if I can’t afford to pay
                                        the membership fee?
                                    </span>
                                    <div>
                                        While many of our members are happy to support our practice with the annual
                                        membership fee, supporting the practice is not a requirement of joining One
                                        Medical. Most of our patients do pay the membership fee. However, One
                                        Medical is dedicated to serving our community, regardless of financial
                                        means.
                                    </div>
                                </li>
                                <li data-aos="fade-up" data-aos-duration="2000">
                                    <span>
                                        Why is there an annual
                                        membership fee?
                                    </span>
                                    <div>
                                        While many of our members are happy to support our practice with the annual
                                        membership fee, supporting the practice is not a requirement of joining One
                                        Medical. Most of our patients do pay the membership fee. However, One
                                        Medical is dedicated to serving our community, regardless of financial
                                        means.
                                    </div>
                                </li>

                                <li data-aos="fade-up" data-aos-duration="2000">
                                    <span>
                                        What if I'm not satisfied with
                                        the care I receive?
                                    </span>
                                    <div>
                                        While many of our members are happy to support our practice with the annual
                                        membership fee, supporting the practice is not a requirement of joining One
                                        Medical. Most of our patients do pay the membership fee. However, One
                                        Medical is dedicated to serving our community, regardless of financial
                                        means.
                                    </div>
                                </li>

                                <li data-aos="fade-up" data-aos-duration="2000">
                                    <span>
                                        What insurance plans do you
                                        accept?
                                    </span>
                                    <div>
                                        While many of our members are happy to support our practice with the annual
                                        membership fee, supporting the practice is not a requirement of joining One
                                        Medical. Most of our patients do pay the membership fee. However, One
                                        Medical is dedicated to serving our community, regardless of financial
                                        means.
                                    </div>
                                </li>
                                <li data-aos="fade-up" data-aos-duration="2000">
                                    <span>
                                        Do you accept Affordable Care
                                        Act (ACA/ObamaCare) plans?
                                    </span>
                                    <div>
                                        While many of our members are happy to support our practice with the annual
                                        membership fee, supporting the practice is not a requirement of joining One
                                        Medical. Most of our patients do pay the membership fee. However, One
                                        Medical is dedicated to serving our community, regardless of financial
                                        means.
                                    </div>
                                </li>
                                <li data-aos="fade-up" data-aos-duration="2000">
                                    <span>
                                        Do you accept off-Exchange or
                                        mirrored ACA plans?
                                    </span>
                                    <div>
                                        While many of our members are happy to support our practice with the annual
                                        membership fee, supporting the practice is not a requirement of joining One
                                        Medical. Most of our patients do pay the membership fee. However, One
                                        Medical is dedicated to serving our community, regardless of financial
                                        means.
                                    </div>
                                </li>
                                <li data-aos="fade-up" data-aos-duration="2000">
                                    <span>
                                        Why did I get a bill from
                                        PatientPay?
                                    </span>
                                    <div>
                                        While many of our members are happy to support our practice with the annual
                                        membership fee, supporting the practice is not a requirement of joining One
                                        Medical. Most of our patients do pay the membership fee. However, One
                                        Medical is dedicated to serving our community, regardless of financial
                                        means.
                                    </div>
                                </li>
                                <li data-aos="fade-up" data-aos-duration="2000">
                                    <span>
                                        Does FSA (sometimes HSA) cover
                                        my cost of membership?
                                    </span>
                                    <div>
                                        While many of our members are happy to support our practice with the annual
                                        membership fee, supporting the practice is not a requirement of joining One
                                        Medical. Most of our patients do pay the membership fee. However, One
                                        Medical is dedicated to serving our community, regardless of financial
                                        means.
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- questions section ends -->

</main>
<!-- main ends -->