    <!-- main starts -->
<main>
    <!-- main-frame section starts -->
    <section class="main-frame-2 no-select" style="background-image: url(assets/images/medical-department.jpg);">
        <div class="container">
            <div class="row main-frame-2-title align-items-center">
                <div class="col-md-6 main-frame-2-title-text">Medical Department</div>
                <div class="col-md-6 text-md-right main-frame-2-title-breadcrumb">Home / Medical Department</div>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
    <!-- main-frame section ends -->
    <!-- item section starts -->
    <section class="items no-select">
        <div class="container">
            <div class="row items-section-title align-items-center">
                <div class="col-md-6">
                    <h2 class="heading" data-aos="fade-up" data-aos-duration="2000">
                        Expert physician and caring clinical staff provide you with an <span class="defaultcolor">exceptional patient care.</span>
                    </h2>
                </div>
                <div class="col-md-6">
                    <p class="description" data-aos="fade-up" data-aos-duration="2000">
                        Syring Medical Center provide patients with choices to ask for the conducting and analyzing
                        of several lab tests on-site at no cost for prioritized patients or at 70% for people with
                        an insurance. Additional testing can be ordered off site; those costs are the responsibility
                        of the enquirers.
                    </p>
                </div>
            </div>
            <div class="row items-content" data-aos="fade-up" data-aos-duration="2000">
                <div class="col-lg-4">
                    <div class="md-item">
                        <div class="md-item-icon">
                            <img src="assets/images/md-icon-1.png" alt="">
                        </div>
                        <div class="title">
                            Cardiology
                        </div>
                        <p class="subtitle">
                            We are here to provide a full range of exceptional quality care for dental services.
                        </p>
                        <div class="button">More Details >></div>
                    </div>
                </div>
                <div class="col-lg-4 pt-5 pt-lg-0">
                    <div class="md-item">
                        <div class="md-item-icon">
                            <img src="assets/images/md-icon-2.png" alt="">
                        </div>
                        <div class="title">
                            Neurology
                        </div>
                        <p class="subtitle">
                            We are here to provide a full range of exceptional quality care for dental services.
                        </p>
                        <div class="button">More Details >></div>
                    </div>
                </div>
                <div class="col-lg-4 pt-5 pt-lg-0">
                    <div class="md-item">
                        <div class="md-item-icon">
                            <img src="assets/images/md-icon-3.png" alt="">
                        </div>
                        <div class="title">
                            Prthopaedics
                        </div>
                        <p class="subtitle">
                            We are here to provide a full range of exceptional quality care for dental services.
                        </p>
                        <div class="button">More Details >></div>
                    </div>
                </div>
                <div class="col-lg-4 pt-5 ">
                    <div class="md-item">
                        <div class="md-item-icon">
                            <img src="assets/images/md-icon-4.png" alt="">
                        </div>
                        <div class="title">
                            Dental Clinic
                        </div>
                        <p class="subtitle">
                            We are here to provide a full range of exceptional quality care for dental services.
                        </p>
                        <div class="button">More Details >></div>
                    </div>
                </div>
                <div class="col-lg-4 pt-5">
                    <div class="md-item">
                        <div class="md-item-icon">
                            <img src="assets/images/md-icon-5.png" alt="">
                        </div>
                        <div class="title">
                            Pulmonary
                        </div>
                        <p class="subtitle">
                            We are here to provide a full range of exceptional quality care for dental services.
                        </p>
                        <div class="button">More Details >></div>
                    </div>
                </div>
                <div class="col-lg-4  pt-5">
                    <div class="md-item">
                        <div class="md-item-icon">
                            <img src="assets/images/md-icon-6.png" alt="">
                        </div>
                        <div class="title">
                            Urology
                        </div>
                        <p class="subtitle">
                            We are here to provide a full range of exceptional quality care for dental services.
                        </p>
                        <div class="button">More Details >></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- item section ends -->
</main>
<!-- main ends -->
