// pricings starts
.pricings {
    padding: 100px 0;
    background-color: $color-gray-lighter;

    .pricing-top {
        padding-bottom: 60px;
    }

    .pricing-slider-element {
        margin-right: 30px;
        margin-left: 12px;
        border: 1px solid white;
        transition: .5s all linear;
        outline: none;

        &:hover {
            border: 1px solid $main-color;
        }

        &:hover .get-started {
            color: white;
            background-color: $main-color !important;
        }

        .slider-element-wrapper {
            padding: 43px 36px 50px;
            background-color: $color-white;

            .title-pricing {
                font-weight: $font-weight;
                margin-bottom: 15px;
            }

            .subtitle-pricing {
                font-size: 15px;
            }

            .price {
                color: $main-color;

                .unitprice {
                    font-size: 24px;
                    font-weight: $font-weight;
                    position: relative;
                    top: -15px;
                }

                .price-value {
                    font-size: 48px;
                    font-weight: $font-weight;
                }

                .per {
                    font-weight: 300;
                }
            }

            .features {
                padding-top: 60px;

                li {
                    padding-bottom: 12px;
                    margin-bottom: 12px;
                    border-bottom: 1px solid $color-border;

                    span {
                        font-size: $font-size;
                    }

                    i {
                        padding-right: 10px;
                    }
                }
            }

            .get-started {
                margin-top: 40px;
                background-color: $color-lighter;
                padding: 16px 0;
                text-align: center;
                border-radius: $border-radius;
                font-weight: $font-weight;
                transition: .5s all linear;
            }
        }
    }
}

// pricings  ends