<main>
    <!-- standard-main starts -->
    <section class="standard-main no-select">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="heading text-center heading-standard">
                        No more counting sheep: Proven behaviors to help you sleep
                    </div>
                    <div class="meta text-center">
                        <a href="">December 24,2018</a>
                        <a href=""> Syring</a>
                        <a href="">Uncategorized</a>
                    </div>
                    <img src="assets/images/post-standard-1.jpg" alt="" class="ps-img">
                    <h6>
                        As humans, we spend about one-third of our lives asleep. Though science has taught us about
                        the
                        human brain’s exquisite control of our daily sleep and wake patterns, tens of millions of
                        Americans still don’t get the sleep they need. Nearly 20% of American adults report using a
                        sleep medication to help them sleep, despite known side effects and information about how
                        well
                        they really work. Some people turn to alcohol for relief. And many have tried everything
                        without
                        relief.
                    </h6>
                    <p>
                        Whether your problem is experiencing lack of quality sleep, feeling sleepy during the day,
                        or
                        not being able to get the seven to nine hours of sleep each night that most people need,
                        first
                        ask yourself, “What habits can I change to improve my sleep?”
                    </p>
                    <img src="assets/images/post-standard-2.jpg" alt="" class="ps-img">
                    <p>
                        Do you have good sleep hygiene? In general, sleep hygiene refers to practicing behaviors
                        that
                        promote sleep and stopping behaviors that are bad for sleep:
                    </p>
                    <h5>Nighttime tips to help with sleep</h5>
                    <ul class="ps-ul">
                        <li>
                            Get up at the same time every day, even on the weekends. A regular wake time helps to
                            set
                            your body’s natural clock (circadian rhythm) by making sure you do not oversleep.
                            Sleeping
                            in too much can impact your ability to fall and stay asleep the next night, or the night
                            after that.
                        </li>
                        <br>
                        <li>Create a comfortable sleep environment: a place that is cool, dark, and quiet.</li>
                        <br>
                        <li>
                            Use your bed for sleep and sex only. Doing other activities in bed will train your brain
                            into thinking that activities other than sleep are appropriate in bed.
                        </li>
                        <br>
                        <li>
                            Avoid or limit caffeine. Caffeine can make you more alert during the day, but many
                            people
                            are sensitive to its effects. Even one or two cups in the early part of the day can
                            disrupt
                            your sleep at night.
                        </li>
                    </ul>
                    <h5>What if I work multiple jobs or do shift work?</h5>
                    <p>
                        Sometimes there are factors that impact our sleep that we can’t control. If you work shifts,
                        strategies such as taking naps before evening shifts, and minimizing light exposure when
                        coming
                        off evening shifts and planning to sleep, may help.
                    </p>
                    <div class="standard-subtitle d-flex">
                        <blockquote>
                            <i class="fas fa-quote-left"></i>
                        </blockquote>
                        <span>
                            Dr. Bertisch will present “Understanding the Role of Non-Pharmacologic Treatments in
                            Insomnia” at the Osher Center for Integrative Medicine Grand Rounds at Brigham and
                            Women’s
                            Hospital
                        </span>
                    </div>
                    <p>
                        his may be a sign that you have a clinical sleep problem, such as insomnia disorder or sleep
                        apnea. If you are doing all the right things and practicing good sleep hygiene, and still
                        have
                        trouble falling or staying asleep, you may need to see a sleep specialist.
                    </p>
                    <div class="tags-share d-flex justify-content-between" data-aos="fade-up"
                         data-aos-duration="2000">
                        <div>
                            <span class="tags-share-title">TAGS: </span><span class="tags-share-text">
                                healthcare,
                                medical, stress
                            </span>
                        </div>
                        <div>
                            <span class="tags-share-title">SHARE:</span><span class="tags-share-text"></span>
                            <div class="social-media d-inline-block">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="prev-next" data-aos="fade-up" data-aos-duration="2000">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <div class="prev">
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="fas fa-arrow-left"></i>
                                            </div>
                                            <div class="col-8 col-md-10">
                                                <p class="prev-next-title">Prev</p>
                                                <h3 class="d-none d-lg-block">
                                                    No more counting sheep: Proven
                                                    behaviors to help you sleep
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 ">
                                    <div class="next">
                                        <div class="row">
                                            <div class="col-8 col-md-10 text-right">
                                                <p class="prev-next-title">Next</p>
                                                <h3 class="rash d-none d-lg-block">
                                                    What can cause a rash on the face
                                                    in a baby?
                                                </h3>
                                            </div>
                                            <div class="col-2">
                                                <i class="fas fa-arrow-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="standard-comments" data-aos="fade-up" data-aos-duration="2000">
                        <div class="heading">
                            7 Comments
                        </div>
                        <div class="standard-comments-item standard-comments-item-1 d-flex">
                            <div class="user-img-container">
                                <img src="assets/images/user.png" alt="" class="user-img d-none d-md-block">
                            </div>
                            <div class="user-comment">
                                <h5>KEM</h5>
                                <p>
                                    Sometimes there are factors that impact our sleep that we can’t control. If you
                                    work
                                    shifts, strategies such as taking naps before evening shifts, and minimizing
                                    light
                                    exposure when coming off evening shifts and planning to sleep, may help.
                                </p>
                                <div class="date-reply">
                                    <span>March 13, 2019 at 2:16 am</span>
                                    <span class="reply">Reply</span>
                                </div>
                            </div>
                        </div>
                        <div class="standard-comments-item standard-comments-item-2 d-flex ">
                            <div class="user-img-container">
                                <img src="assets/images/user.png" alt="" class="user-img d-none d-md-block">
                            </div>
                            <div class="user-comment">
                                <h5>KEM</h5>
                                <p>
                                    Create a comfortable sleep environment: a place that is cool, dark, and quiet.
                                </p>
                                <div class="date-reply">
                                    <span>March 13, 2019 at 2:16 am</span>
                                    <span class="reply">Reply</span>
                                </div>
                            </div>
                        </div>
                        <div class="standard-comments-item standard-comments-item-3 d-flex">
                            <div class="user-img-container">
                                <img src="assets/images/user.png" alt="" class="user-img d-none d-md-block">
                            </div>
                            <div class="user-comment">
                                <h5>KEM</h5>
                                <p>
                                    Use your bed for sleep and sex only. Doing other activities in bed will train
                                    your
                                    brain into thinking that activities other than sleep are appropriate in bed
                                </p>
                                <div class="date-reply">
                                    <span>March 13, 2019 at 2:16 am</span>
                                    <span class="reply">Reply</span>
                                </div>
                            </div>
                        </div>
                        <div class="standard-comments-item standard-comments-item-4 d-flex">
                            <div class="user-img-container">
                                <img src="assets/images/user.png" alt="" class="user-img d-none d-md-block">
                            </div>
                            <div class="user-comment">
                                <h5>KEM</h5>
                                <p>
                                    Avoid or limit caffeine. Caffeine can make you more alert during the day, but
                                    many
                                    people are sensitive to its effects. Even one or two cups in the early part of
                                    the
                                    day can disrupt your sleep at night.
                                </p>
                                <div class="date-reply">
                                    <span>March 13, 2019 at 2:16 am</span>
                                    <span class="reply">Reply</span>
                                </div>
                            </div>
                        </div>
                        <div class="standard-comments-item standard-comments-item-5 d-flex">
                            <div class="user-img-container">
                                <img src="assets/images/user.png" alt="" class="user-img d-none d-md-block">
                            </div>
                            <div class="user-comment">
                                <h5>KEM</h5>
                                <p>
                                    Do you have good sleep hygiene? In general, sleep hygiene refers to practicing
                                    behaviors that promote sleep and stopping behaviors that are bad for sleep:
                                </p>
                                <div class="date-reply">
                                    <span>March 13, 2019 at 2:16 am</span>
                                    <span class="reply">Reply</span>
                                </div>
                            </div>
                        </div>
                        <div class="standard-comments-item standard-comments-item-6 d-flex">
                            <div class="user-img-container">
                                <img src="assets/images/user.png" alt="" class="user-img d-none d-md-block">
                            </div>
                            <div class="user-comment">
                                <h5>KEM</h5>
                                <p>What if I work multiple jobs or do shift work?</p>
                                <div class="date-reply">
                                    <span>March 13, 2019 at 2:16 am</span>
                                    <span class="reply">Reply</span>
                                </div>
                            </div>
                        </div>
                        <div class="standard-comments-item standard-comments-item-7 d-flex">
                            <div class="user-img-container">
                                <img src="assets/images/user.png" alt="" class="user-img d-none d-md-block">
                            </div>
                            <div class="user-comment">
                                <h5>KEM</h5>
                                <p>
                                    Use your bed for sleep and sex only. Doing other activities in bed will train
                                    your
                                    brain into thinking that activities other than sleep are appropriate in bed.
                                </p>
                                <div class="date-reply">
                                    <span>March 13, 2019 at 2:16 am</span>
                                    <span class="reply">Reply</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="leave-comment">
                        <h3>Leave A Comment</h3>
                        <p>Your email address will not be published. Required fields are marked *</p>
                        <input type="text" placeholder="Your Name*">
                        <input type="text" placeholder="Your Email*">
                        <textarea name="" id="" cols="30" rows="10" placeholder="Your Comment*"></textarea>
                        <div class="button text-center">Leave A Comment</div>
                    </div>
                </div>
                <div class="col-lg-4 pt-5 pt-lg-0">
                    <div class="right-sidebar">
                        <div class="search">
                            <h4>Search</h4>
                            <input type="search" name="" id="" placeholder="Search here...">
                        </div>
                        <div class="categories">
                            <h4>Categories</h4>
                            <ul>
                                <li>Baby Health (1) </li>
                                <li>Cancer (3) </li>
                                <li>Cardiology (2) </li>
                                <li>Diagnostic (1) </li>
                                <li>Health Care (2) </li>
                                <li>Massage (5) </li>
                                <li>Medical (1) </li>
                                <li>Medical Tips (1) </li>
                                <li>MRI scanning (1) </li>
                                <li>Neurosurgery (1) </li>
                                <li>Pulmonary (5) </li>
                                <li>Surgery (1) </li>
                                <li>Uncategorized (1) </li>
                                <li>Urology (5) </li>
                            </ul>
                        </div>
                        <div class="archives">
                            <h4>Archives</h4>
                            <select name="" id="">
                                <option value="">Select Month</option>
                            </select>
                            <div class="contact-banner"
                                 style="background-image: url(assets/images/contact-us-sidebar.jpg);">
                                <div class="btn-container text-center">
                                    <div class="button">Contact Us</div>
                                </div>
                            </div>
                        </div>
                        <div class="tags">
                            <h4>Tags</h4>
                            <span>healthcare</span>
                            <span> medical</span>
                            <span>stress</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- standard-main ends -->

</main>
